$grey:#eee;
$font-title-color:#333;
$font-detail-color:#999;
$font-color:#666;
$red:#c20c0c;
$white:#fff;
$black:#242424;
$blue:#0c73c2;
$body-color:#f5f5f5;
$font-size:14px;
$border-area-color:#d3d3d3;